<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightgrey;
        color: black;
        text-align: center;
    }
</style>

<div class="footer">
    <p>Tel +380970625732(Oleh)</p>
    <p>Work time 8:00 - 21:00 every day</p>
</div>