<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Metal Place</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {{#if isIndex}}
            <li class="active"><a href="/">Price List</a></li>
            {{else}}
            <li><a href="/">Price List</a></li>
            {{/if}}
            {{#if curuser.acces}}
                {{#if isCreate}}
                    <li class="active"><a href="/stat">Statistics</a></li>
                {{else}}
                    <li><a href="/stat">Statistics</a></li>
                {{/if}}
                {{#if isCreate}}
                   <li class="active"><a href="/create">Create</a></li>
                {{else}}
                   <li><a href="/create">Create</a></li>
                {{/if}}
                {{#if isReg}}
                   <li class="active"><a href="/register">Register</a></li>
                {{else}}
                   <li><a href="/register">Register</a></li>
                {{/if}}
                {{#if isUsers}}
                    <li class="active"><a href="/users">Users</a></li>
                {{else}}
                    <li><a href="/users">Users</a></li>
                {{/if}}
                {{#if isMA}}
                    <li class="active"><a href="/metaladd">Enter metal</a></li>
                {{else}}
                    <li><a href="/metaladd">Enter metal</a></li>
                {{/if}}
                {{#if isMV}}
                    <li class="active"><a href="/metalview">Metals</a></li>
                {{else}}
                    <li><a href="/metalview">Metals</a></li>
                {{/if}}
                {{#if isPC}}
                    <li class="active"><a href="/addpartner">Add partner</a></li>
                {{else}}
                    <li><a href="/addpartner">Add partner</a></li>
                {{/if}}
                {{#if isPV}}
                    <li class="active"><a href="/partnersview">Partners</a></li>
                {{else}}
                    <li><a href="/partnersview">Partners</a></li>
                {{/if}}
                {{#if isMS}}
                    <li class="active"><a href="/metalgive">Metal to Partners</a></li>
                {{else}}
                    <li><a href="/metalgive">Metal to Partners</a></li>
                {{/if}}
                {{#if isMG}}
                    <li class="active"><a href="/givenmetalview">Send List</a></li>
                {{else}}
                    <li><a href="/givenmetalview">Send List</a></li>
                {{/if}}
            {{/if}}
            {{#if curuser.name}}
                    <li><a href="/logout">Logout</a></li>
            {{else}}
                {{#if isLogin}}
                    <li class="active"><a href="/login">Login</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            {{/if}}
        </ul>
    </div>
</nav>