{{> head}}
<body>
{{> navbar}}
 <div class="container">
     {{{ body }}}
     <ul>
         <li>	&nbsp;</li>
         <li>	&nbsp;</li>
         <li>	&nbsp;</li>
     </ul>
 </div>
{{> footer}}
</body>
