<form action='/create' method="post">
    <h2>Сreate</h2>

    <div class="input-field">
        <b><label>Material Name</label></b>
        <input type="text" name="nameOf">
        <b><label>Material Price</label></b>
        <input type="text" name="priceOf">
    </div>

    <button type="submit" class="btn">Create</button>
</form>

