<h2 class="center">All material we ever got</h2>
<form method="post">
    <input type="text" name="search" style="width: 500px; border: 1px solid black; border-radius: 10px; text-align:center;">
    <button type="submit" class="btn" formaction="/searchgives">Search</button>
    <button type="submit" class="btn" formaction="/sortgives">Sort</button>
{{#if metal.length}}
    <table class="highlight centered " style="border: 1px solid black">
        <tr style="border: 1px solid black">
            <td style = "font-size: 25pt; border: 1px solid black">Material</td>
            <td style = "font-size: 25pt; border: 1px solid black">Weight</td>
            <td style = "font-size: 25pt; border: 1px solid black">Company</td>
            <td style = "font-size: 25pt; border: 1px solid black">Mobile</td>
            <td style = "font-size: 25pt; border: 1px solid black">Price</td>
            <td style = "font-size: 25pt; border: 1px solid black">Date</td>
        </tr>
        {{#each metal}}
            <tr style="border: 1px solid black">
                <td style = "font-size: 25pt; border: 1px solid black"><a href="/updatesending/{{_id}}"> {{name}}</a></td>
                <td style = "font-size: 25pt; border: 1px solid black">{{weight}}g</td>
                <td style = "font-size: 25pt; border: 1px solid black">{{company_name}}</td>
                <td style = "font-size: 25pt; border: 1px solid black">{{company_mobile}}</td>
                <td style = "font-size: 25pt; border: 1px solid black">{{money}}UAN</td>
                <td style = "font-size: 25pt; border: 1px solid black">{{date}}</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    {{#if metalList.length}}
        <table class="highlight centered " style="border: 1px solid black">
            <tr style="border: 1px solid black">
                <td style = "font-size: 25pt; border: 1px solid black">Material</td>
                <td style = "font-size: 25pt; border: 1px solid black">Weight</td>
                <td style = "font-size: 25pt; border: 1px solid black">Company</td>
                <td style = "font-size: 25pt; border: 1px solid black">Mobile</td>
                <td style = "font-size: 25pt; border: 1px solid black">Price</td>
                <td style = "font-size: 25pt; border: 1px solid black">Date</td>
            </tr>
            {{#each metalList}}
                <tr style="border: 1px solid black">
                    <td style = "font-size: 25pt; border: 1px solid black"><a href="/updatesending/{{_id}}"> {{name}}</a></td>
                    <td style = "font-size: 25pt; border: 1px solid black">{{weight}}g</td>
                    <td style = "font-size: 25pt; border: 1px solid black">{{company_name}}</td>
                    <td style = "font-size: 25pt; border: 1px solid black">{{company_mobile}}</td>
                    <td style = "font-size: 25pt; border: 1px solid black">{{money}}UAN</td>
                    <td style = "font-size: 25pt; border: 1px solid black">{{date}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
    <p>Something went wrong!</p>
{{/if}}
{{/if}}
</form>