<h2>Our prices</h2>
{{#if curuser.acces}}
    {{#if pricesGet.length}}
        {{#each pricesGet}}
            <h3><a href="/update/{{_id}}"> {{name}}</a> - {{price}} UAN per 1 GR</h3>
        {{/each}}
    {{else}}
        <p>Something went wrong!</p>
    {{/if}}
{{else}}
    {{#if pricesGet.length}}
        {{#each pricesGet}}
            <h3>{{name}} - {{price}} UAN per 1 GR</h3>
        {{/each}}
    {{else}}
        <p>Something went wrong!</p>
    {{/if}}
{{/if}}