<form method="post">
    <center>
    <h2>Login</h2>
    <label>User Name</label><br>
    <input type="text" name="name" class="center" style="width: 500px; border: 1px solid black; border-radius: 10px; text-align:center;">
    <br><label>User Mobile Phone</label><br>
    <input type="text" name="mobile" class="center" style="width: 500px; border: 1px solid black; border-radius: 10px; text-align:center;">
    <br>

    <button type="submit" class="btn" formaction="/login">Login</button>
    </center>
</form>