<h2 class="center">Fix mistakes</h2>

<form method="post">
    <h2>Update</h2>
    <input type="text" name="idUpdate" value="{{metals._id}}" hidden="true">
    <label>Material name</label>
    <input type="text" name="name" value="{{metals.name}}">
    <label>Brought By</label>
    <input type="text" name="user" value="{{metals.man_name}}">
    <label>User Mobile Phone</label>
    <input type="text" name="mobile" value="{{metals.man_mobile}}">
    <label>Weight(in grams)</label>
    <input type="text" name="weight" value="{{metals.weight}}">
    <label>Date</label>
    <input type="date" name="date" value="{{metals.date}}">

    <button type="submit" class="btn" formaction="/updatemetal">Update</button>
    <button type="submit" class="btn red" formaction="/deletemetal">Delete</button>
</form>