<form method="post">
    <h2>Enter new metal in our collection</h2>
    <label>Material name</label>
    <input type="text" name="name">
    <label>Weight</label>
    <input type="text" name="weight">
    <label>Company Name</label>
    <input type="text" name="compName">
    <label>Money reached</label>
    <input type="text" name="money">
    <label>Date</label>
    <input type="date" name="date">

    <button type="submit" class="btn" formaction="/metalgive">Add</button>
</form>