<form method="post">
    <h2>Enter new metal in our collection</h2>
    <label>Material name</label>
    <input type="text" name="name">
    <label>Brought By</label>
    <input type="text" name="user">
    <label>User Mobile Phone</label>
    <input type="text" name="mobile">
    <label>Weight(in grams)</label>
    <input type="text" name="weight">
    <label>Date</label>
    <input type="date" name="date">

    <button type="submit" class="btn" formaction="/metaladd">Add</button>
</form>