<h2 class="center">Add new partner</h2>

<form action='/addpartner' method="post">

    <div class="input-field">
        <b><label>Partner Name</label></b>
        <input type="text" name="name">
        <b><label>Partner Tag</label></b>
        <input type="text" name="tag">
        <b><label>Partner Mobile</label></b>
        <input type="text" name="mobile">
        <b><label>Partner E-mail</label></b>
        <input type="email" name="email">
        <b><label>Partner Address</label></b>
        <input type="text" name="address">
    </div>

    <button type="submit" class="btn">Create</button>
</form>