<h2 class="center">Our partners</h2>
<form method="post">
    <input type="text" name="search" style="width: 500px; border: 1px solid black; border-radius: 10px; text-align:center;">
    <button type="submit" class="btn" formaction="/searchpartners">Search</button>
{{#if partnerList.length}}
    <table class="highlight centered " style="border: 1px solid black">
        <tr style="border: 1px solid black">
            <td style = "font-size: 15pt;">Company Name</td>
            <td style = "font-size: 15pt;">Company Tag</td>
            <td style = "font-size: 15pt;">Company Mobile</td>
            <td style = "font-size: 15pt;">Company E-mail</td>
            <td style = "font-size: 15pt;">Company Address</td>
        </tr>
        {{#each partnerList}}
            <tr style="border: 1px solid black">
                <td style = "font-size: 15pt;"><a href="/updatepartners/{{_id}}"> {{company_name}}</a></td>
                <td style = "font-size: 15pt;">{{company_tag}}</td>
                <td style = "font-size: 15pt;">{{company_mobile}}</td>
                <td style = "font-size: 15pt;">{{company_email}}</td>
                <td style = "font-size: 15pt;">{{company_address}}</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    {{#if partner.length}}
        <table class="highlight centered " style="border: 1px solid black">
            <tr style="border: 1px solid black">
                <td style = "font-size: 15pt;">Company Name</td>
                <td style = "font-size: 15pt;">Company Tag</td>
                <td style = "font-size: 15pt;">Company Mobile</td>
                <td style = "font-size: 15pt;">Company E-mail</td>
                <td style = "font-size: 15pt;">Company Address</td>
            </tr>
            {{#each partner}}
                <tr style="border: 1px solid black">
                    <td style = "font-size: 15pt;"><a href="/updatepartners/{{_id}}"> {{company_name}}</a></td>
                    <td style = "font-size: 15pt;">{{company_tag}}</td>
                    <td style = "font-size: 15pt;">{{company_mobile}}</td>
                    <td style = "font-size: 15pt;">{{company_email}}</td>
                    <td style = "font-size: 15pt;">{{company_address}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
    <p>Something went wrong!</p>
    {{/if}}
{{/if}}
</form>