<form method="post">
    <h2>Register</h2>
    <label>User Name</label>
    <input type="text" name="name">
    <label>User Surname</label>
    <input type="text" name="surname">
    <label>User Mobile Phone</label>
    <input type="text" name="mobile">
    <label>User Access</label>
    <input type="text" name="accessLevel">

    <button type="submit" class="btn" formaction="/register">Register</button>
</form>