
<form method="post">
    <h2>Statistics</h2>
    <div class="row ">
        <div class="col s6">
    <table class="highlight centered " style="border: 1px solid black">
        <tr>
            <td style = "font-size: 30pt; border: 1px solid black">Metal Got</td>
        </tr>
    {{#each dict1}}
        <tr style="border: 1px solid black">
            <td style = "font-size: 25pt; border: 1px solid black">{{this}}g</td>
        </tr>
    {{/each}}
    </table>
        </div>
        <div class="col s6">
            <table class="highlight centered col-s6" style="border: 1px solid black">
                <tr>
                    <td style = "font-size: 30pt; border: 1px solid black">Metal Lost</td>
                </tr>
                {{#each dict2}}
                    <tr style="border: 1px solid black">
                        <td style = "font-size: 25pt; border: 1px solid black">{{this}}g</td>
                    </tr>
                {{/each}}
            </table>
        </div>

    </div>
</form>
