<form method="post">
    <h2>Update</h2>
    <input type="text" name="idUpdate" value="{{pricesUpdate._id}}" hidden="true">
    <label>Material Name</label>
    <input type="text" name="nameOfUpdate" value="{{pricesUpdate.name}}">
    <label>Material Price</label>
    <input type="text" name="priceOfUpdate" value="{{pricesUpdate.price}}">

    <button type="submit" class="btn" formaction="/update">Update</button>
    <button type="submit" class="btn red" formaction="/delete">Delete</button>
</form>