<h2 class="center">Fix mistakes</h2>

<form method="post">
    <h2>Update</h2>
    <input type="text" name="idUpdate" value="{{metal._id}}" hidden="true">
    <label>Material name</label>
    <input type="text" name="name" value="{{metal.name}}">
    <label>Weight</label>
    <input type="text" name="weight" value="{{metal.weight}}">
    <label>Company Name</label>
    <input type="text" name="compName" value="{{metal.company_name}}">
    <label>Money reached</label>
    <input type="text" name="money" value="{{metal.money}}">
    <label>Date</label>
    <input type="date" name="date" value="{{metal.date}}">

    <button type="submit" class="btn" formaction="/updatesendings">Update</button>
    <button type="submit" class="btn red" formaction="/sendingdelete">Delete</button>
</form>