<h2 class="center">Fix mistakes</h2>

<form method="post">
    <h2>Update</h2>
    <input type="text" name="idUpdate" value="{{partner._id}}" hidden="true">
    <b><label>Partner Name</label></b>
    <input type="text" name="name" value="{{partner.company_name}}">
    <b><label>Partner Tag</label></b>
    <input type="text" name="tag" value="{{partner.company_tag}}">
    <b><label>Partner Mobile</label></b>
    <input type="text" name="mobile" value="{{partner.company_mobile}}">
    <b><label>Partner E-mail</label></b>
    <input type="email" name="email" value="{{partner.company_email}}">
    <b><label>Partner Address</label></b>
    <input type="text" name="address" value="{{partner.company_address}}">

    <button type="submit" class="btn" formaction="/updatepartners">Update</button>
    <button type="submit" class="btn red" formaction="/partnerdelete">Delete</button>
</form>