<h2>Our users</h2>
<form method="post">
    <input type="text" name="search" style="width: 500px; border: 1px solid black; border-radius: 10px; text-align:center;">
    <button type="submit" class="btn" formaction="/searchusers">Search</button>
    {{#if userList.length}}
        {{#each userList}}
            <h3>{{name}}, {{surname}}, {{mobile}}</h3>
        {{/each}}
    {{else}}
        <p>Something went wrong!</p>
    {{/if}}
</form>